#catalogue-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogue-container {
    margin: 20vh;
    width: 100%;
}

#catalogue-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}